@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    --font-sec-color:  #b6b7b9;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
    height: auto;
}
hr{
    margin: 1rem 0;
}

.layout{
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "hero hero hero"
    "hero-blog hero-blog hero-blog"
    "blogs blogs blogs"
    "footer footer footer";

}

.nav{
    grid-area: nav;
    display: flex;
    position: sticky;
    top: 0;
    border:1px solid black;
    padding: 1rem;
    background-color: black;
    color: var(--font-sec-color);
}

.nav > a{
    padding: 0.5rem;
    color: var(--font-sec-color);
    text-decoration: none;
}
.nav-icons1{
    padding: 0.5rem;
    margin-left: auto;
}

.nav-icons2{
    padding: 0.5rem;
    margin: 0;
}

.hero{
    grid-area: hero;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: black;
    color: var(--font-sec-color);
    border: 1px solid black;
    margin: 0;
    padding: 3rem 0;
}

.hero > img{
    max-width: 20vh;
}

.hero-blog-container{
    grid-area: hero-blog;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    max-width: 75vw;
    margin: 3rem auto;
}

.blog-container{
    grid-area: blogs;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 0.5rem;
    max-width: 75vw;
    margin: 0rem auto;
   
}

.blog-card-text{
    display: flex;
    flex-direction: column;
}

.blog-card-text > span{
    color: var(--font-sec-color);
    padding: 0.5rem 0;
}

.blog-card-text > p{
    padding: 0.5rem 0;
}

.blog-footer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: var(--font-sec-color);
}

.avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.align-left{
    margin-left: auto;
}

.footer{
    grid-area: footer;
    /* border:1px solid black; */
    background-color: black;
    color: var(--font-sec-color);
    padding: 1rem;
}
